<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="utf-8">
        <!-- JS/Angular stuff -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
        <script src="avatars.js"></script>
		<script src="http://code.jquery.com/jquery-3.2.1.min.js"></script>
		<link rel="stylesheet" type="text/css" href="main.css">
		<script type="text/javascript" src="data.json"></script>
        <script type="text/javascript" src="scripts.js"></script>
        
        <title>Creative Project 3</title>
    </head>

    <body>
        
        <h1>Cool Stuff to Do Around Provo</h1>
        <p>Are you bored in Provo? Select a category for info on lots of activities in Provo and surrounding areas!</p>
        
        <!-- Idea:
        Make an informative webpage about cool stuff to do around provo/utah valley: 
         - make it interactive so users can add their own ideas too - this is perfect for Angular!
         - lots of cool pictures, maybe some maps if we can get google maps api to work 
         - just a nice dynamic list of cool activities, like outdoors (climbing), indoors (center st), etc
         - References: https://vacationidea.com/destinations/best-things-to-do-in-provo-ut.html
                       https://pedalprovo.com/18-awesome-things-to-do-in-provo-in-2018-an-insiders-guide/
         -->
        -->
        <!-- 
        Are we planning on hard coding the activities?
        Are we just going to pull pictures from a google api?
        What kind of layout do we want to have?
        -->

        <div ng-app="mainActivityList"  ng-controller='mainController'>
            
            <!-- Idea:
            Make an informative webpage about cool stuff to do around provo/utah valley: 
             - make it interactive so users can add their own ideas too - this is perfect for Angular!
             - lots of cool pictures, maybe some maps if we can get google maps api to work 
             - just a nice dynamic list of cool activities, like outdoors (climbing), indoors (center st), etc
             - Let's just hard-code a bunch of activities with pictures and info, we can use stuff on these sites:
             - References: https://vacationidea.com/destinations/best-things-to-do-in-provo-ut.html
                           https://pedalprovo.com/18-awesome-things-to-do-in-provo-in-2018-an-insiders-guide/
             -->
            <div class="col-xs-12 col-sm-offset-2 col-sm-8">
              <hr>
            	<h2>Add New Activity</h2>
                  <form name='userForm' ng-submit='addNewActivity(newActivityForm)'>
                    <input placeholder='Name' ng-model='newActivityForm.name'/>
                    <input placeholder='Category' ng-model='newActivityForm.category'/>
                    <input placeholder='Description' ng-model='newActivityForm.email'/>
                    <input placeholder='Image URL' ng-model='newActivityForm.url'/>
                    <button class='btn btn-primary' type='submit'>Add New Activity</button>
                  </form>
            </div>

        
    </body>
</html>
