<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">


    <!-- Bootstrap "includes" -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- I include it first so anything else we do will overwrite it. -->

    <!-- JS/Angular stuff -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css">
    <script type="text/javascript" src="data.json"></script>
    <script type="text/javascript" src="javaScript.js"></script>

    <title>Cool Stuff in Provo</title>
</head>

<div class="background-image"></div>

<body class="content"  ng-app="mainActivityList" ng-controller='mainController'>


    <div class="sidenav" height=>
         <!-- Don't change these a href, that will mess with how it looks  -->
        <a href="" ng-click="setCategory('Outdoors')">Outdoors</a>
        <a href="" ng-click="setCategory('Food')">Food</a>
        <a href="" ng-click="setCategory('Artsy')">Artsy</a>
        <a href="" ng-click="setCategory('Sports/Games')">Sports/Games</a>
        <!-- <a href="">Classic Provo</a>  Add this one back in if we have time  -->
    </div>

    <div class="main">
        <div class="jumbotron">  <!-- It'd be nice if we could make this thinner -->
            <h1>Cool Stuff to Do Around Provo</h1>
            <h3><small>The Best Guide Ever</small></h3>
            <p>Are you bored in Provo? Select a category for insider info on lots of activities in Provo and surrounding areas!</p>
        </div>


        <div class="activityDisplay" >
            <div class="col-sm-offset-3 col-sm-9">
            
                    <ul class="list-group" id="activity_list" >
                        <li ng-repeat= "activity in activities | filter: {category: filterCategory}" class="list-group-item">
                            <activity activity='activity'>
                        </li>
                   </ul>
            </div>
        </div>

        <br><br>
        
        <footer class="footer">
                <hr>
                <h2>Add New Activity</h2>
                <div class="container">
                    <form name='userForm' ng-submit='addNewActivity(newActivityForm)'>
                        <input class="column" placeholder='Name' ng-model='newActivityForm.name' />
                        <!-- The category should preferrably be a drop down menu, so they can't type just anything in.-->
                          <select required name="category" ng-model='newActivityForm.category'>
                            <option value="" selected disabled hidden>Choose Category</option>
                            <option value="outdoors">Outdoors</option>
                            <option value="food">Food</option>
                            <option value="artsy">Artsy</option>
                            <option value="sports_games">Sports/Games</option>
                          </select>
                        <!-- <input class="column" placeholder='Category' ng-model='newActivityForm.category' /> Old version of category input-->
                        <input class="column" placeholder='Image URL' ng-model='newActivityForm.imageUrl' />
                        <input class="column" placeholder='Description' ng-model='newActivityForm.description' />
                        <button class='btn btn-small btn-primary' type='submit'>Add New Activity</button>
                    </form>
                </div>
        </footer>
        
    </div>

</body>

</html>
