body {
    width: 100%;
    height: 100%;
}

.jumbotron{
    height:50%;
}

.background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url('img/valley.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    width: 103%;
    height: 103%;

    -webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
    filter: blur(5px);
}

.content {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 9999;
    margin-left: 20px;
    margin-right: 20px;
}

/* The sidebar menu */

.sidenav {
    height: 100%;
    /* Full-height: remove this if you want "auto" height */
    width: 160px;
    /* Set the width of the sidebar */
    position: fixed;
    /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1;
    /* Stay on top */
    top: 0;
    /* Stay at the top */
    left: 0;
    background-color: #111;
    /* Black */
    overflow-x: hidden;
    /* Disable horizontal scroll */
    padding-top: 20px;
}

/* The navigation menu links */

.sidenav a {
    padding: 6px 10px 6px 14px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
}

/* When you mouse over the navigation links, change their color */

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .bottom {
    position:absolute;
    bottom:0;
    color: yellow;
}

/* Style page content */

.main {
    margin-left: 160px;
    /* Same as the width of the sidebar */
    padding: 0px 10px;
    padding-bottom: 50px;
    height: 52%; 
    /*overflow-y: scroll;  /* adds scrollbar */
}

.activity-list {
    list-style: none;
    margin: 0;
    padding: 0px;
}

.panel > .list-group .list-group-item {
    /* border-top: 1px solid rgb(204, 204, 204); */
    /*padding-left: 100px*/
}

.activityDisplay {
    height: 100%; 
    /*padding-bottom: 100px;*/
    overflow-y: scroll;  /* adds scrollbar */
}

.activity-img {
    margin-left: 8px;
    /*width: 100px;*/
    height: 100px;
}

.activity-name {
    font-family: "Gill Sans MT", sans-serif;
    font-size: 22px;
    font-style: bold;
    color: #111111;
}

.activity-info {
    font-family: "Gill Sans MT", sans-serif;
    font-size: 16px;
    color: #818181;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.footer {
   position: fixed;
   /*display: block;*/
   left: 0;
   padding-left: 160px;
   bottom: 0;
   width: 100%;
   /* height: 18%; */
   text-align: left;
   /*padding-bottom: 10px;*/
}